.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;

  h1 {
    font-size: 100px;
  }

  header {
    padding-bottom: 300px;
  }
}

.navbar {
  .btn {
    font-size: 18px;
    color: white;

    &:hover {
      color: #28793F;
    }
  }
}
