<div class="container m-5 p-5">
  <h2 class="text-white">About Us</h2>
  <div class="card bg-body d-flex flex-row">
    <div class="col-8 col-md-4 my-5">
      <%= image_tag "About.jpg", class: "card-img img-fluid", crop: :fill %>
    </div>
    <div class="col-8 col-md-4 my-5 mx-3">
      <div class="card-body text-white h4">
        Prima Cafe, el nuevo café con diseño increíble, terraza y un jardín chiquito pero comodísimo en la Roma. En Prima Cafe tienen bebidas preparadas como expresso, flat white, capuccino y latte; estos se preparan con grano de Finca Fátima, un productor de Veracruz.
      </div>
    </div>
  </div>
</div>
