<div class="container m-5 p-5">
  <h2 class="text-white">Menu</h2>
  <div class="card bg-body d-flex flex-row">
    <div class="col-8 col-md-4 my-5">
      <%= image_tag "Drink.jpg", class: "card-img img-fluid", crop: :fill %>
      <h5 class="text-white text-center">Drink</h5>
    </div>
    <div class="col-8 col-md-4 my-5 mx-1">
      <%= image_tag "Food.jpg", class: "card-img img-fluid", crop: :fill %>
      <h5 class="text-white text-center">Food</h5>
    </div>
  </div>
</div>
