<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597816792530-f6d57bd2bf9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);">
  <header>
    <h1 class="text-white text-center">Prima Cafe</h1>
  </header>
    <%= render "navbar" %>
</div>
  <%= render "about" %>
  <%= render "menu" %>
  <%= render "contact" %>
